*.node filter=lfs diff=lfs merge=lfs -text
*node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node filter=lfs diff=lfs merge=lfs -text
c:/Users/zawad/CascadeProjects/P1/assignment-dashboard/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node filter=lfs diff=lfs merge=lfs -text
